.newPost {
    width: 100%;
    height: auto;
    background: lightslategray;
    border-radius: 10px;
}

.title {
    color: whitesmoke;
    padding: 10px 0 0 40px;
    margin: 0;
}

.addNew {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: end;
}

.textarea {
    width: 100%;
    border: lightslategray solid 3px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 10px;
    background: whitesmoke;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    color: #444444;
}

.textarea::placeholder {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #444444;
}

.send {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    width: 150px;
    height: 45px;
    background: whitesmoke;
    color: #444444;
    border-radius: 6px;
    border: none;
}